<% provide(:title, 'Home') %>

<div class="center jumbotron">
  <h1>Appraisl</h1>
  <h2>For open feedback between teams and clients.</h2>
  <p>Curious about what's going on under the hood? Find the codebase for this application on 
    <a target="blank" href="https://github.com/samtovey13/appraisl/tree/master">Github</a>.
  </p>

  <%= link_to "Get started", "#", class: "btn btn-lg btn-primary" %>
</div>
