<% provide(:title, 'Home') %>

<div class="center jumbotron tall-flex">
  <h1>Appraisl</h1>
  <h2>For open feedback between teams and clients.</h2>
  <%= link_to "Get started", "#", class: "btn btn-lg btn-primary" %>
</div>
