@import "bootstrap-sprockets";
@import "bootstrap";

$light-grey: #777;

html, body {
  height: 100%;
}

body {
  padding-top: 60px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.navbar .container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
  flex-flow: row nowrap;
}

.flex-filler {
  flex: 1 1 auto;
}

.main-container {
  height: 100%;
}

section {
  overflow: auto;
}

.tall-flex {
  height: 100%;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-grey;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

#logo {
  justify-self: flex-start;
  margin-right: 10px;
  font-size: 1.7em;
  color: $light-grey;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

footer {
  font-size: 1.1em;
  margin-top: 10px;
  padding: 7px;
  background-color: #bbbbbb;
}