    <footer class="footer center">Curious about what's going on under the hood? Find the codebase for this application on 
      <a target="blank" href="https://github.com/samtovey13/appraisl/tree/master">Github</a>.
    </footer>